---
layout: layout
title: YES
---
{% for nav in site.data.nav.structure %}
	{% for sub in nav.subsection %}
	<article id={{ sub }} class="panel">
		{% capture foo %}{{ sub }}.html{% endcapture %}
		{% include {{foo}} %}
		<ul class="pager">
			<li><a id="previous" href="#">← Previous</a></li>
			<li><a id="next" href="#">Next →</a></li>
		</ul>
	</article>
	{% endfor %}
{% endfor %}

<html>
<body bgcolor="#E6E6FA">
<h1>Hello world!</h1>
<p><a href="http://www.w3schools.com">Visit W3Schools.com!</a></p>
</body>
</html>
