<h3>Collecting your first Raman Spectrum</h3>


<p> Now you have a clean window to start collecting you first Raman Spectrum. With everything setted up correctly, just simplly click "Col Smp" and a pop-up window will show up, where you can type in a name to record it.</p>
<img src="images/name.png" align="center" width="50%">
<p> When the collection is done, the system will ask if you want to add the newly collected spectrum to the window you opened.</p>
<img src="images/finish.png" align="center" width="50%">	

