<h3>Videos</h3>


 <p> Inkjet printing is an AM technology which only adds material when and where it is needed. It therefore, minimizes waste and makes it ideal for handling expensive materials. This film explains the technology behind piezoelectric inkjet printing at the University of Sheffield and how it can be applied to many areas of research. For example: in tissue engineering, inkjet printing can help to find ways to treat wounds more effectively; in carbon fibre composites, their properties can be improved by strategically placing beneficial additives and in crime applications, unique markings can be produced that can help combat crime.</p>

<iframe width="640" height="390" src="https://www.youtube.com/embed/tagP1XhWPI8" frameborder="0" allowfullscreen></iframe>

<p>Reference: Univ. of Sheffield</p>
