<h3>Selecting a Printing Position</h3>

<ol>
  
  <li>After opening the DImatix Drop Manager, click on the Fiducial Camera (highlighted in the picture below.)</li>

  <img src="images/newgifsandpictures/cartridge-settings.gif" align="center" width="30%">
  
  <li>Now make sure the Reference point is deselected (the box circled in red should be deselected.)</li>

  <img src="images/newgifsandpictures/printing-position.gif" align="center" width="30%">

  <ul>
    <li>To change the position of the printing design, you can click anywhere on the platen box, noted by no. 2 in the picture above, or change the x-position and the y-position of your controls coordinates.</li>
  </ul>
  <li>Once you chose your desired position click on Set Print Origin, noted by no.3 in the picture above.</li>
</ol>
<p>You have now selected your new printing position.</p>
