<h3>Preparation</h3>
</ul>
<p>Preparation is required before taking measurements.</p>
</ul>
<li> First, Click the icon "OMNIC for Dispersive Raman" and start the software. </li>
</ul>
<li>Second, turn on the laser and warm it for 5 min. This process can be started automatically when user changes the laser mode by clicking "Expt Set" on the control panel.( Expt Set -> Bench -> Laser(Value):"on") </li>
</ul>
<img src="images/laser.png" align="center" width="50%">
</ul>
<li>Third, turn on the switch of the light source on the table and load your sample. By moving the speciman and adjusting the distance between the selected objective lens and the sample, users can focus the view on the target area through microscope. The focusing method should depend on the state of the sample(liquid or solid).</li>
<img src="images/light.png" align="center" width="25%">
</ul>
<li> Fourth, Click "Window" and open a new working space.</li>
</ul>
<img src="images/window.png" align="center" width="50%">
<li> Fifth, change the parameters through "Expt Set". You can change the exposure time, preview time, Aperture (pinhole or slit) etc., which directly affect the resulting spectrum. All of these settings can be saved as a template. For first time user, you can just proceed with a common template to check the result. </li>
<img src="images/finish.png" align="center" width="50%">
<

