<h3>Inkjet Printing Operation</h3>

<ul>
  <li>Turn on printer with switch </li><img src="#.gif" alt="Printer On" width="25%">
  <li>Open Dimatix Drop Manager </li><img src="#.gif" alt="Dimatix Open" width="25%">
  <li>Do not open <em>Internet Explorer</em> like Bolin did. 
    <p></p><img src="#.gif" alt="IE explosion" width="25%"></p>
    <p>We recommend downloading and installing <em>Google Chrome</em>.</p>
  </li>
  <li>The following will occur: </li><img src="#.jpg" alt="Dimatix Manager" width="25%">
  <li>Load the printer with the desired cartridge. </li><img src="#.gif" alt="Cartridge Load" width="25%">
  <ul>
    <li><a href="#">Cartridge Preparation</a></li>
  </ul>
  <li>Select an awesome pattern. </li><img src="#.gif" alt="Selecting patterns" width="25%">
  <ul>
    <li><a href="#">How to create patterns</a></li>
    <li><a href="#">How to use drop watcher and Fiducial Camera</a></li>
  </ul>
  <li>Load and Unload substrate </li><img src="#.gif" alt="L/U Sub." width="25%">
  <ul>Taping the substratre to platen helps!!</ul>
  <li>Print Lord Vader.</li>
</ul>
<p><a href="#">How to use fiducial camera</a></p>
<p><a href="#">How to use drop watcher</a></p>
