<h3>Videos</h3>


 <p> Printing Cy </p>

<embed
width="420" height="345"
src="https://www.youtube.com/watch?v=PV9_leLD1nY"
type="application/x-shockwave-flash">
</embed> 
<video width="320" height="240" controls
 source src="printing cy video.mp4" type<"video/mp4">
</video>

<script type="text/javascript">
 $(document).ready(function(){
  $("#jquery_jplayer_1").jPlayer({
   ready: function () {
    $(this).jPlayer("setMedia", {
     m4a: "/media/mysound.mp4",
     oga: "/media/mysound.ogg"
    });
   },
   swfPath: "/js",
   supplied: "m4a, oga"
  });
 });
</script>
<div id="jquery_jplayer_1"></div>
<div id="jp_container_1">
 <a href="#" class="jp-play">Play</a>
 <a href="#" class="jp-pause">Pause</a>
</div>

